$grey-normal: #B4B4B4;

$bg-normal: #2A3542;
$bg-black: #212832;

$black-normal: #232224;

$white-normal: #fff;

$blue-primary: #00fff5;
$blue-secondary: #00adb5;



$bg-newblack: #222831;
$bg-light: #393e46;



//---------------Não usar---------------
$blue-normal: #00FFD1;

$blue-black: #00d6af;