header {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links,
.dropdown-menu {
    a {
        font-size: 1.8rem;
        color: $grey-normal;
        text-shadow: 2px 2px 5px $black-normal;
    }

    li {
        list-style: none;
    }
}

.container {
    padding: 24px;
}

.links {
    display: flex;
    gap: 10rem;
}

.toggle-btn {
    font-size: 1.8rem;
    color: $grey-normal;
    cursor: pointer;
    display: none;
}

.header-links a {
    transition: transform .8s;
}

.header-links a:hover {
    transform: translateY(-8px) scale(1.1);
}


.header-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $blue-primary;
    transition: width .5s;
}

.header-links a:hover::after {
    width: 100%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 8rem;
    width: 150px;
    height: 0;
    background: $bg-black;
    backdrop-filter: blur(15px);
    border-radius: 8px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    li {
        padding: .7rem;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            font-size: 1.2rem;
            border-bottom: 2px solid $blue-primary ;
        }
    }
}

.dropdown-menu.open {
    height: 150px;
}

@media (max-width: 992px) {
    .header-content {
        gap: 1rem;
    }

    .header-links {
        display: none;
    }

    .toggle-btn {
        display: block;
    }

    .toggle-btn:hover {
        color: $blue-primary;
    }

    .dropdown-menu {
        display: block;
    }

}

@media (max-width:992px) {
    .dropdown-menu {
        width: 100%;
        right: 0;
        top: 70px;
    }


}