* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links a,
.dropdown-menu a {
  font-size: 1.8rem;
  color: #B4B4B4;
  text-shadow: 2px 2px 5px #232224;
}
.header-links li,
.dropdown-menu li {
  list-style: none;
}

.container {
  padding: 24px;
}

.links {
  display: flex;
  gap: 10rem;
}

.toggle-btn {
  font-size: 1.8rem;
  color: #B4B4B4;
  cursor: pointer;
  display: none;
}

.header-links a {
  transition: transform 0.8s;
}

.header-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #00fff5;
  transition: width 0.5s;
}

.header-links a:hover::after {
  width: 100%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 1rem;
  top: 8rem;
  width: 150px;
  height: 0;
  background: #212832;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 8px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu li a {
  font-size: 1.2rem;
  border-bottom: 2px solid #00fff5;
}

.dropdown-menu.open {
  height: 150px;
}

@media (max-width: 992px) {
  .header-content {
    gap: 1rem;
  }
  .header-links {
    display: none;
  }
  .toggle-btn {
    display: block;
  }
  .toggle-btn:hover {
    color: #00fff5;
  }
  .dropdown-menu {
    display: block;
  }
}
@media (max-width: 992px) {
  .dropdown-menu {
    width: 100%;
    right: 0;
    top: 70px;
  }
}
body {
  overflow-x: hidden;
}

input,
textarea {
  font-family: "Sora", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-top: 2rem;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../Portfolio/assets/bg-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero {
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
}

.hero-text {
  margin-top: 5rem;
}
.hero-text h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #00fff5;
}
.hero-text h1 {
  font-size: 56px;
  color: #fff;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 24px;
  font-weight: 500;
  color: #B4B4B4;
  margin-bottom: 50px;
}
.hero-text a {
  font-size: 28px;
  color: #00fff5;
  border: 4px solid #00fff5;
  border-radius: 8px;
  text-shadow: 0px 4px 4px #232224;
  padding: 10px 30px;
}

.hero-btn a {
  transition: 0.5s;
}

.hero-btn a:hover {
  border-color: #00adb5;
  color: #00adb5;
  transition: 0.5s;
}

.hero-logo img {
  width: 400px;
  margin-top: 1rem;
}

.about {
  background-color: #2A3542;
  min-height: 80vh;
}

.about-content {
  display: flex;
  gap: 10rem;
}

.about-content div {
  flex: 1;
}

.about-profile {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.about-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.about-photo img {
  max-width: 400px;
  border-radius: 50%;
  border: 10px solid #2A3542;
  outline: 10px solid #00fff5;
  outline-offset: 5px;
}

.about-sub {
  display: flex;
  flex-direction: column;
}

.about-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.about-links i {
  font-size: 50px;
  color: #00fff5;
  transition: transform 0.5s;
}

.about-links i:hover {
  transform: translateY(-8px) scale(1.1);
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.about-sobre span {
  margin: 10px 13px;
  display: inline-block;
  border: 8px solid #00fff5;
  outline: 6px solid #00fff5;
  outline-offset: 6px;
}
.about-sobre h1 {
  display: inline-block;
  margin-left: 10px;
  font-size: 48px;
  color: #00fff5;
  margin-bottom: 50px;
  font-weight: 600;
}
.about-sobre p {
  font-size: 28px;
  font-weight: 100;
  color: #B4B4B4;
  margin-bottom: 30px;
  line-height: 1.2;
}

.projetos {
  background-color: #212832;
  min-height: 80vh;
}

.projetos-title {
  text-align: center;
}
.projetos-title span {
  margin: 10px 13px;
  display: inline-block;
  border: 8px solid #00fff5;
  outline: 6px solid #00fff5;
  outline-offset: 6px;
}
.projetos-title h1 {
  display: inline-block;
  margin-left: 10px;
  font-size: 48px;
  color: #00fff5;
  margin-bottom: 50px;
  font-weight: 600;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background-color: #2A3542;
  border-radius: 35px;
  width: 400px;
  height: 100%;
  transition: transform 0.8s;
}
.card hr {
  border: 1px solid #B4B4B4;
}

.card:hover {
  transform: translateY(-16px);
  outline: 5px solid #00fff5;
}

.card-photo {
  width: 400px;
  max-height: 260px;
  contain: content;
  border-bottom: 3px solid #B4B4B4;
  margin-bottom: 20px;
}
.card-photo img {
  border-radius: 35px 35px 0 0;
  transition: transform 0.8s;
}

.card-utilities {
  display: flex;
  justify-content: space-evenly;
}
.card-utilities p {
  color: #00fff5;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #00fff5;
  padding: 10px 20px;
  border-radius: 30px;
  transition: transform 0.5s;
}
.card-utilities p:hover {
  background-color: #00fff5;
  color: #2A3542;
  cursor: default;
}

.card-info p {
  color: #B4B4B4;
  font-size: 24px;
  margin: 15px 20px;
}

.card-btn {
  display: flex;
  justify-content: center;
}
.card-btn a {
  background-color: #00fff5;
  color: #2A3542;
  font-size: 24px;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s;
  margin-bottom: 20px;
}
.card-btn a:hover {
  background-color: #00adb5;
}

.contact {
  background-color: #2A3542;
  min-height: 50vh;
  text-align: center;
}
.contact button {
  font-size: 28px;
  color: #00fff5;
  border: 4px solid #00fff5;
  border-radius: 8px;
  text-shadow: 0px 4px 4px #232224;
  padding: 5px 10px;
  background: transparent;
  transition: 0.5s;
  margin: 3rem 0;
}
.contact button:hover {
  border-color: #00adb5;
  color: #00adb5;
  transition: 0.5s;
}

.contact-title {
  text-align: center;
}
.contact-title span {
  margin: 10px 13px;
  display: inline-block;
  border: 8px solid #00fff5;
  outline: 6px solid #00fff5;
  outline-offset: 6px;
}
.contact-title h1 {
  display: inline-block;
  margin-left: 10px;
  font-size: 48px;
  color: #00fff5;
  margin-bottom: 50px;
  font-weight: 600;
}

.form-top {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.form-top input {
  padding: 10px;
  width: 100%;
  height: 40px;
  border: 2px solid #B4B4B4;
  color: #fff;
  background: transparent;
  box-shadow: none;
  font-size: 16px;
  border-radius: 4px;
}
.form-top :focus {
  border-color: #00fff5;
}
.form-top ::-moz-placeholder {
  font-size: 16px;
  color: #B4B4B4;
  background-color: transparent;
}
.form-top ::placeholder {
  font-size: 16px;
  color: #B4B4B4;
  background-color: transparent;
}

.form-down {
  margin-top: 1rem;
}
.form-down textarea {
  padding: 10px;
  width: 100%;
  border: 2px solid #B4B4B4;
  color: #fff;
  background: transparent;
  box-shadow: none;
  font-size: 16px;
  border-radius: 4px;
}
.form-down :focus {
  border-color: #00fff5;
}
.form-down ::-moz-placeholder {
  font-size: 16px;
  color: #B4B4B4;
  background-color: transparent;
}
.form-down ::placeholder {
  font-size: 16px;
  color: #B4B4B4;
  background-color: transparent;
}

.button-back {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 10px 10px;
  background: #00fff5 none repeat scroll 0 0;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
  z-index: 99;
}
.button-back i {
  color: #212832;
  -webkit-text-stroke: 2px #212832;
}
.button-back a:hover,
.button-back a:focus,
.button-back a:active {
  color: #212832;
}

.button-back:hover {
  background-color: #212832;
  transition: all 0.2s ease 0s;
}
.button-back:hover a {
  color: #00fff5;
}
.button-back:hover i {
  color: #00fff5;
  -webkit-text-stroke: 2px #00fff5;
}

footer {
  background-color: #212832;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
}

@media (max-width: 992px) {
  .bg-home {
    background-size: cover;
  }
  .hero-logo img {
    width: 200px;
    display: none;
    margin-top: 1rem;
  }
  .hero,
  .about-content,
  .card-container {
    flex-direction: column;
    gap: 2rem;
  }
  .hero-text {
    padding-top: 2rem;
  }
  .hero-btn a {
    padding: 10px 15px;
    font-size: 22px;
  }
  .about-title {
    margin-top: 5rem;
    text-align: center;
  }
  .card,
  .card-photo {
    width: 100%;
  }
  .form-top,
  .form-down {
    flex-direction: column;
  }
  .form-top textarea,
  .form-top input,
  .form-down textarea,
  .form-down input {
    width: 100%;
  }
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Sora", sans-serif;
}

button {
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */